.article {
    display: flex;
    box-shadow: 2px 2px 6px var(--shadow-color);
    background: var(--bg-accent-color);
    background: var(--component-bg-gradient);
    margin-bottom: 1em;
    cursor: pointer;
    user-select: none;
}

.article:hover {
    opacity: 0.7;
}

.shadow-hover {
    transition: box-shadow 0.3s ease-in-out;
}

.shadow-hover:hover {
    box-shadow: var(--bs-box-shadow-lg) !important;
}

.mute * {
    pointer-events: none;
}

.article:last-child {
    margin-bottom: 0;
}