
body {
    padding: 0;
    margin: 0;
    background-image: url("../assets/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header, footer, section, nav, main {
    position: relative;
    display: block;
}

ul, li, button {
    all: unset;
    display: block;
}

.main {
    min-height: 100vh;
    width: 100vw;
    max-width: 700px;
    position: relative;
    margin: 0 auto 0;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    
}

.main header {
    background-color: black;
}


.main .header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;

}

.main .header .title .title-motion {
    font-size: 2em;
    font-weight: bold;
    color: red;
}

.main .header .nav {
    padding: 1rem;
}

.main .header .nav ul {
    display: flex;
    justify-content: center;
}

.main .header .nav ul li {
    box-sizing: border-box;
    flex-grow: 1;
    
}

.main .header .nav ul li button {
    background-color: blueviolet;
    padding: 0.3em 1.4em;
    border: 1px solid white;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.main .header .nav ul li button {
    margin: 0 auto 0;
    
}




.main .page {
    flex-grow: 1;
}

.main .footer {
    background-color: black;;
    
}

.main .footer span {
    text-align: center;
    color: white;
    display: block;
    padding: 0.3em 0;
}

@media (max-width: 660px) {
    .main .header .nav ul {
        flex-direction: column;
    }
}